
.main{
    margin-top: 35px;
    width: 100%;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
}

.main h4{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #CA8217;
}
.title {
    margin-left: 7%;
}

.container{
    width: 100%;
    margin-top: 20px;
}

.info{
    float: left;
    width: 25%;
    margin-left: 7%;
}

p{
    font-size: 10px;
    margin: 0 0 3px 0;
    color: #643F08;
    font-family: Geomanist-regular SansSerif;
    font-weight: lighter;
}

.map{
    width: 68%;
    float: left;
    margin-bottom: 30px;
}
.map img{
    width: 80%;
    margin-top: 20px;
    float: left;
    margin-left: 0;
}

.direction{
    clear: both;
    margin-left: 7%;
    margin-bottom: 40px;
}

/*.direction p{*/
/*    font-family: Geomanist-bold;*/
/*}*/
